@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {


}

.album-art {
	.position: relative;
	float: left; 
	border: 3px solid red;
	margin: 2em; 
	padding: 1em;
	width: auto;

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	.position: relative;
	float: left; 
	border: 3px solid red;
	margin: 2em; 
	padding: 1em;
	width: auto;
	
}

.record-label {
	color: red;

}

.track-list {

}

#about-photo {
	.position: relative;
	float: left;
	border-style: double;
	border-width: medium;
	border: 3px solid red;
	margin: 2em;
	padding: 2em;



}

#copyright {
	color: red;
	font-size: 0.75em;


}

#section-about, #section-discography, #section-equipment {
	border: 3px solid red;
	border-style: double;
	border-width: medium;
	margin: 2em; 
	padding: 2em;
	width: auto;


}

#text-intro {
	border: 3px solid red;
	background-color: rgb(54, 54, 54);
	color:  red;
	margin: 2em; 
	padding: 2em;
	width: auto;
	
}